.container {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
}

.header {
    min-height: 5em;
    background-color: rgba(98, 163, 226, 0.8);
    padding: 30px 50px 15px 50px;
    font-size: 18px;
}

.header__logo {
    display: flex;
    flex-direction: column;
    width: 50px;
    align-items: center;
    text-decoration: none;
    color: black;
    transition: all 0.4s;

}

.header__logo:hover {
    transform: scale(1.2);
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    display: flex;
    justify-content: space-between;
}

.nav__item {
    margin-right: 30px;
    color: black;
    text-decoration: none;
    transition: all 0.4s;
}

.nav__item:hover {
    color: rgb(8, 20, 149);
    transform: scale(1.2);
}

.home {
    min-height: 100vh;
    padding: 0 40px 0 40px;
}

.home__logo {
    text-transform: uppercase;
    transform: translate(0px, 120%);
    opacity: 1;
    transition: all 0.8s ease 0s;
}

.home__logo._active {
    transform: translate(0px, 0px);
    opacity: 1;
}

.active__block {
    display: block;
}
.unActive__block {
    display: none;
}

.posts {
    margin-top: 60px;

}

.posts__inner {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.post__item {

    display: table;
    padding: 20px;
    border-radius: 30px;
    width: 100%;
    background-color: aqua;
    margin-top: 20px;
    text-shadow: 0px 0px 0px black;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);;
}

.addPost {
    margin-top: 40px;
}

.addPost__inner {

    display: flex;
    justify-content: center;
    align-items: center;
}

.addPost__form {
    display: table;
    width: 300px;
    padding: 32px;
    border-radius: 10px;
    border: 1px solid #6d6b6b;
    box-shadow: 0 4px 16px #ccc;

}

.form__items {
    margin-top: 20px;
}

.form__input {
    border: 1px solid  #6d6b6b;
    height: 2em;
    border-radius: 3px;
}
.form__actions {
    display: flex;
    align-items: center;
}


.form__btn {
    border: none;
    cursor: pointer;
    color: #fff;
    width: 6em;
    height: 2em;
    background-color: black;
    border-radius: 10px;
    margin: 0 10px 0 10px;
    transition:  background-color 0.3s ease-in;
}

.form__btn:hover {
    background-color: #6d6b6b;
}

.addPost__img {
    display: block;
    cursor: pointer;
    width: 13%;
}